<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="WordNet Visualized" content="vwordnet.ooda.ca"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>webapp</title>

    {% block links %} {% endblock links %}
    
    {% block headscripts %} 
    <script type="text/javascript">
    // Don't HTML escape, see
    // http://jinja.pocoo.org/docs/templates/#working-with-automatic-escaping
      appConfig = {{config|safe}};
    </script>

    <!-- CSS using LESS. Make sure to include less.js *before* your CSS -->
    <link rel="stylesheet/less" type="text/css" href="/static/css/app.less" />
    <script src="/static/js/other/less.js" type="text/javascript"></script>
    {% endblock headscripts %}
  </head>
	
  <body id="body">
    {% block content %} {% endblock content %}
    {% block endscripts %} {% endblock endscripts %}

  </body>
</html>



