{% extends "base.html" %}

{% block headscripts %}
<!-- Call this block from 'base' -->
{{super()}}

<!-- The only Javascript inclusion -->
<script data-main="static/js/main" src="/static/js/other/require.js"></script>
{% endblock headscripts %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>WordNet Taxonomy Explorer</h2>
    </div>
  </div>
  <div id="define" class="row form-group">
    <div class="col-md-12">
      <form class="form-inline" data-bind="submit: define">
        <input placeholder="English dictionary work" class="form-control"
        type="text" data-bind="value: word"></input>
        <img id="spinner" class="hidden" src=/static/img/spinner.gif></img>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" data-bind="foreach: definitions">
        <li><a data-bind="text: rootsynset, attr:{href: '#' + name}"
          data-toggle="tab"></a></li>
      </ul>
    </div>
  </div>

  <div class="row tab-content"
    data-bind="foreach: definitions">

    <div class="js-definition col-md-12 tab-pane"
      data-bind="attr: {id: name}">
      <span class="rootsynset" data-bind="text: rootsynset"></span>

      <div data-bind="foreach: synsets">
        <div class="synset">
          <span class="synset-id" data-bind="text: name"></span>
          <span class="synset-def" data-bind="text: definition"></span>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock content %}

