@import "base.css";


@background: #e9e9e9;
@leafNode: #a5a5a5;
@link: #a5a5a5;;
@text: rgb(19, 0, 3);
@defNode: rgb(11, 92, 238);
@defPath: rgb(0, 91, 255);
@alert: #ffb42c;


body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-color: @background;
}

h2 {
    font-weight: 600;
}

#alertContainer {
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: +10;
}

#jsAlert {
  width: 375px;
  margin: auto;
}

.alert h4 {
  font-weight: normal;
  text-transform: uppercase;
  color: @text;
}

.alert {
  text-shadow: none;
  color: @text;
  background-color: @alert;
  border: none;
}

#define {
    margin-left: 40px;
    width: 300px;
}


.js-node circle {
    cursor: pointer;
    fill: @leafNode;
    stroke: @leafNode;
    stroke-width: 1.5px;
}

.js-path circle {
    cursor: pointer;
    fill: @defNode;
    stroke: @defNode;
    stroke-width: 1.5px;
}

.js-node text {
    fill: @text;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.js-more-node {
    cursor: pointer;
}

.link {
    fill: none;
    stroke: @link;
    stroke-width: 1px;
}

.link.js-path {
    fill: none;
    stroke: @defPath;
    stroke-width: 1px;
}

circle.js-parent {
    fill: @background;
    stroke: @defNode;
}

.rootsynset {
    font-size: 20px;
}

.synset {
    font-size: 15px;
    margin: 10px 0px 20px 20px;
}

.synset-id {
    font-style: italic;
}

.synset-id:after {
    content: ':';
}

.nav {
    margin-bottom: 20px;
}

.nav > li > a {
    padding: 5px 10px;
    color: #333;
}
